<div id="preloader" class="fixed inset-0 bg-white z-[100] flex items-center justify-center">
  <div class="text-4xl font-serif font-bold overflow-hidden">
    <div class="preloader-char">Y</div><div class="preloader-char">o</div><div class="preloader-char">u</div><div class="preloader-char">r</div>
    <div class="w-4 inline-block"></div>
    <div class="preloader-char">N</div><div class="preloader-char">a</div><div class="preloader-char">m</div><div class="preloader-char">e</div>
  </div>
</div>

<style>
  .preloader-char {
    display: inline-block;
    transform: translateY(100%);
  }
</style>
